:root {
  --main-bg-color: black;
  --main-text-color: lightgray;
  --main-accent-color: #1a35ce;
  --alt-accent-color: #0b26c0;
  --dark-accent-color: #2b2b2b;
  --darker-accent-color: #1a1a1a;
  --link-color: #3760d1;

  --max-width: 1200px;
  --clickable-height: 36px;
  --title-bar-height: 70px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

td {
  padding: 0;
}

.capitalize {
  text-transform: capitalize;
}

.filter-row * {
  margin: 7px 6px;
}

.filter-table {
  margin: 20px 0;
  border-collapse: collapse;
}

.filter-input {
  width: 175px;
}

input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

.app {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  min-width: min-content;
}

.title-bar {
  background-color: var(--alt-accent-color);
  padding: 1px;
  height: var(--title-bar-height);
}

.title {
  margin: 0 auto;
  padding: calc(var(--title-bar-height) - 54px) 20px;
  max-width: var(--max-width);
}

.combo-finder {
  margin: auto;
  max-width: var(--max-width);
  padding: 0 20px;
}

.filter-bar {
  margin-left: -7px;
  padding: 20px 0;
  display: flex;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.filter-lable {
  width: 100px;
}

.float-right {
  float: right;
}

.popup {
  background-color: var(--darker-accent-color);
  outline: var(--darker-accent-color) solid 1px;
  border-radius: 8px;
  padding: 12px;
}

.search-bar {
  height: 45px
}

.reset {
  cursor: pointer;
  color: var(--link-color);
  margin-left: 10px;
}

.reset:hover {
  text-decoration: underline;
}

.info {
  color: gray;
  font-size: 10pt;
  margin-left: 10px;
  margin-bottom: 20px;
}

.min-height {
  min-height: 300px;
}

.combo-table {
  text-transform: capitalize;
  min-width: 100%;
  border-collapse: collapse;
}

.prop-header {
  padding: 10px 20px 15px 10px;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid;
  border-color: var(--dark-accent-color);
  width: 8.5%;
}

.prop-header.notation {
  width: 28%;
}

.pointer {
  cursor: pointer;
}

.ascend {
  border-color: var(--main-accent-color);
}

.descend {
  border-color: var(--main-accent-color);
}

.sorting {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 2px;
  position: absolute;
}

.sorting.up-arrow {
  border-bottom: 5px solid var(--dark-accent-color);
  margin-top: 7px;
}

.sorting.up-arrow.ascend {
  border-bottom: 5px solid var(--main-text-color);
}

.sorting.down-arrow {
  border-top: 5px solid var(--dark-accent-color);
  margin-top: 13px;
}

.sorting.down-arrow.descend {
  border-top: 5px solid var(--main-text-color);
}

.prop-value {
  padding: 13px 10px;
  border-top: 1px solid;
  border-color: var(--dark-accent-color);
}

.prop-value.notation {
  text-transform: none;
}

.advantage.plus::before {
  content: '+';
}

.prop-value.carry::after {
  content: '%';
}

.combo-row:hover {
  background-color: var(--darker-accent-color);
}

.solid {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: var(--dark-accent-color);
  margin-bottom: 20px;
}

.popup-bar {
  margin: 0 -12px 8px -12px;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: var(--dark-accent-color);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-select {
  padding: 30px 0 10px 0;
}

.popup-title-bar {
  height: 45px;
  padding: 0 5px;
}

.popup-title {
  font-size: 18pt;
  font-weight: bold;
}

.btn-close {
  background-color: var(--darker-accent-color);
  padding: 0;
  margin: 0;
}

.btn-close:hover {
  color: gray;
}

input {
  background-color: var(--main-bg-color);
  color: inherit;
  font-size: 11pt;
  padding: 0 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--dark-accent-color);
  outline-style: none;
  width: 100px;
  height: calc(var(--clickable-height) - 2px);
}

input:focus {
  border-color: var(--main-accent-color);
}

.page-input {
  border-width: 1px 0 1px 1px;
  border-radius: 5px 0 0 5px;
  width: 20px;
  margin-left: 10px;
}

.drop {
  background-color: var(--dark-accent-color);
  text-transform: capitalize;
  color: inherit;
  font-size: 11pt;
  height: var(--clickable-height);
  min-width: calc(100% - 12px);
  border: 1px solid var(--dark-accent-color);
  border-style: solid;
  outline-style: none;
  border-radius: 5px;
  padding: 0 5px;
}

.drop:focus {
  border-color: var(--main-accent-color);
}

button {
  background-color: var(--dark-accent-color);
  color: var(--main-text-color);
  font-size: 11pt;
  min-width: 38px;
  height: var(--clickable-height);
  border: none;
  cursor: pointer;
  padding: 0 10px;
  margin: 7px 5px;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: var(--darker-accent-color);
  color: gray;
  cursor: default;
}

.page-btn:enabled:hover {
  background-color: var(--main-accent-color);
}

button.alt-hover:hover {
  background-color: var(--alt-accent-color);
}

.btn-main.cancel {
  background-color: rgb(58, 58, 58);
}

.btn-main.cancel:hover {
  background-color: var(--dark-accent-color);
}

.btn-left {
  border-radius: 5px 0 0 5px;
  margin-right: 0;
}

.btn-right {
  border-radius: 0 5px 5px 0;
  margin-left: 0;
}

.btn-main {
  background-color: var(--main-accent-color);
  border-radius: 5px;
}

.shift {
  margin: 0 1px;
}

.footer {
  font-size: 10pt;
  color: gray;
  margin: 25px 0;
  width: 100%;
}

.full-width {
  width: 100%;
}

.align-top {
  vertical-align: top;
}

.align-right {
  text-align: right;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.notation-table {
  margin: 20px 0;
  border-collapse: collapse;
}

.notation-header {
  border-color: var(--darker-accent-color);
  padding: 0 10px 10px 10px;
}

.notation-row {
  height: 45px;
  border-top: 1px solid;
  border-color: var(--dark-accent-color);
}

.notation-cell {
  padding: 13px 10px;
}

.right-border {
  border-right: 1px solid;
  border-color: inherit;
}