.app {
  background-color: black;
  bottom: 20%;
}

.prop-header {
  text-transform: capitalize;
  padding: 10px 10px;
  cursor: pointer;
  text-align: left;
}

.prop-header::after {
  content: '🞁';
  color: black;
}

.prop-header[data-sort='ascend']::after {
  content: '🞁';
  float: right;
  color: lightgray;
}

.prop-header[data-sort='descend']::after {
  content: '🞃';
  float: right;
  color: lightgray;
}

.sorted {
  background-color: rgb(43, 43, 43);
}

.prop-value {
  text-transform: capitalize;
  padding: 5px 10px;
}

.prop-value[data-status='+']::before {
  content: '+';
}

.carry::after {
  content: '%';
}

.combo-table {
  background-color: black;
  color: lightgray;
  min-width: 100%;
  border-collapse: collapse;
}