.app {
  background-color: black;
  bottom: 20%;
}

.prop-header {
  padding: 10px;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid;
  border-color: rgb(43, 43, 43);
}

.prop-header::after {
  content: '🞁';
  float: right;
  color: black;
}

.prop-header[data-sort='ascend']::after {
  content: '🞁';
  float: right;
  color: lightgray;
}

.prop-header[data-sort='descend']::after {
  content: '🞃';
  float: right;
  color: lightgray;
}

.ascend {
  background-color: rgb(43, 43, 43);
  border-color: lightgray;
}

.descend {
  background-color: rgb(43, 43, 43);
  border-color: lightgray;
}

.prop-value {
  padding: 10px;
}

.advantage[data-status='plus']::before {
  content: '+';
}

.carry::after {
  content: '%';
}

.combo-table {
  text-transform: capitalize;
  background-color: black;
  color: lightgray;
  min-width: 100%;
  border-collapse: collapse;
}